<div class="main-container">
  <button class="button is-primary" routerLink="">Back to notes</button>
  <div class="notes-list" [@listAnim]>
    <h1>Archived notes</h1>
    <app-note-card
      *ngFor="let note of notes|async; index as i"
      [link]="note?.id"
      [@itemAnim]
      (delete)="deleteNote(note?.id)"
      [title]="note?.title"
      [details]="note?.details"
      [isDone]="note?.isDone"
      [isArchived]="note?.isArchived"
      [id]="note?.id"
    ></app-note-card>
  </div>
</div>
