@import "../../../main-styles.scss";

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding-top: 15px;
}

.notes-list {
  margin-top: 35px;
  margin-bottom: 70px;
}

app-note-card {
  display: block;
  margin-bottom: 25px;
}
