<div class="form-container" *ngIf="(note | async) as _note">
  <form #noteForm="ngForm" (ngSubmit)="onSubmit(noteForm)">
    <div class="field">
      <label class="label">
        Title
      </label>
      <div class="control">
        <input type="text" name="title" [ngModel]="_note.title" class="input" required>
      </div>
    </div>
    <br>
    <div class="field">
      <label class="label">
        Details
      </label>
      <div class="control">
        <textarea class="textarea" name="details" [ngModel]="_note.details"></textarea>
      </div>
    </div>
    <div class="field is-grouped is-pulled-right">
      <div class="control">
        <button class="button is-text" type="button" (click)="onCancel()">Cancel</button>
      </div>
      <div class="control">
        <button class="button is-success" type="submit" [disabled]="!noteForm.valid">Save</button>
      </div>
    </div>
  </form>
</div>
