@import "../../../main-styles.scss";

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  padding-top: 15px;
}

.notes-list {
  margin-top: 35px;
  margin-bottom: 70px;
}

.search-bar-container {
  margin-top: 10px;
}

app-note-card {
  display: block;
  margin-bottom: 25px;
}

.floating-add-button {
  position: fixed;
  bottom: 15px;
  width: 500px;
  height: 68px;
  border-radius: 0;
  box-shadow: 0 0 15px 5px rgba($purple, 0.2);
  font-size: 24px;
}
