<div class="main-container">
  <button class="button is-primary" routerLink="archive">Go to archive</button>
  <div class="search-bar-container">
    <div class="field">
      <p class="control has-icons-left">
        <input class="input" type="text"  #search  placeholder="Filter To do notes">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="notes-list" [@listAnim]>
    <h1>To do</h1>
    <app-note-card
      *ngFor="let note of notes|async; index as i"
      [link]="note?.id"
      [@itemAnim]
      (delete)="deleteNote(note?.id)"
      [title]="note?.title"
      [details]="note?.details"
      [isDone]="note?.isDone"
      [isArchived]="note?.isArchived"
      [id]="note?.id"
    ></app-note-card>
  </div>
  <div class="notes-list" [@listAnim]>
    <h1>Done</h1>
    <app-note-card
      *ngFor="let note of doneNotes|async; index as i"
      [link]="note?.id"
      [@itemAnim]
      (delete)="deleteNote(note?.id)"
      [title]="note?.title"
      [details]="note?.details"
      [isDone]="note?.isDone"
      [isArchived]="note?.isArchived"
      [id]="note?.id"
    ></app-note-card>
  </div>
  <button class="button floating-add-button is-primary" routerLink="new">+ Add</button>
</div>
