@import '../../main-styles.scss';

.note-card-container {
  position: relative;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 15px 2px rgba(black, 0.068);
  transition: box-shadow 0.2s ease-out;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 4px rgba(black, 0.068);

    .x-button, .archive {
      opacity: 1;
      transform: scale(1);
      transition-delay: 0.35s;
    }
  }

  .note-card {
    display: flex;
    align-items: center;

    .note-status {
      padding-left: 10px;

      label {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      input {
        display: block;
        height: 15px;
        width: 15px;
      }
    }

    .note-card-content {
      padding: 25px;

      .note-card-title {
        font-size: 22px;
        font-weight: bold;
        color: $purple;
      }

      .note-card-body {
        position: relative;
        max-height: 80px;
        overflow: hidden;
        color: #555;

        .fade-out-truncation {
          position: absolute;
          bottom: 0;
          height: 50%;
          width: 100%;
          pointer-events: none;
          background: linear-gradient(to bottom, rgba(white, 0) 0%, rgba(white, 0.8) 50%, white 100%);
        }
      }
    }
  }

  .x-button {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 34px;
    width: 34px;
    background-color: $light-red;
    background-image: url("../../assets/delete_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    opacity: 0;
    transform: scale(0.35);

    &:hover {
      background-color: darken($light-red, 2%);
    }

    &:active {
      background-color: darken($light-red, 4%);
    }
  }

  .archive {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 80px;
    text-align: center;
    background-color: lighten($purple, 20%);
    border-radius: 4px;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    opacity: 0;
    transform: scale(0.35);

    &:hover {
      background-color: lighten($purple, 15%);
    }

    &:active {
      background-color: lighten($purple, 10%);
    }
  }
}

.done {
  opacity: 0.5;
}
