<div #container class="note-card-container" [ngClass]="{'done': isDone}">
  <div class="note-card">
    <div class="note-status">
      <label>
        Is Done
        <input type="checkbox" name="isDone" [(ngModel)]="isDone" [value]="isDone" (change)="changeStatus($event)">
      </label>
    </div>
    <a [routerLink]="link">
      <div class="note-card-content">
        <h1 class="note-card-title">
          {{ title }}
        </h1>
        <div #bodyText class="note-card-body">
          <p>{{ details }}</p>
          <div #truncator class="fade-out-truncation"></div>
        </div>
      </div>
    </a>
  </div>
  <div class="x-button" (click)="onXButtonClick()"></div>
  <div class="archive" (click)="archive()" [(ngModel)]="isArchived" name="fieldName" ngDefaultControl>Archive</div>
</div>
